body {
  margin: 0;
  padding: 0;
}

/* 适用于 Chrome、Edge、Safari */
::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
}

::-webkit-scrollbar-track {
  background: #ddd; /* 滚动条轨道颜色 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1890ff; /* 滚动条滑块颜色 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1890ff; /* 滚动条滑块悬停颜色 */
}
